<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Jurassic Park</title>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/dinosaurs">All Dinosaurs</a>
</nav>

<div class="container">
    #parse( $template )
</div>

</body>
</html>